@model IEnumerable<CMS.Domain.ViewModels.TermViewModel>

@{
    ViewData["Title"] = "Manage Terms";
}

<h2>Index</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TermID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TermID)
                </td>
                <td>
                    @if (item.Type == "1")
                    {
                        item.Type = "tag";
                    }
                    else
                    {
                        item.Type = "Catagory";
                    }

                    @Html.DisplayFor(modelItem => item.Type)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TermID">  <i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />
@section scripts {
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script>

        $(document).ready(function () {
            $('#myTable').DataTable();
        });

    </script>

}
